/* fundamentals.scss */

//BACKGROUNDS, TEXT
.primary-bg { background-color: $dark-blue-color !important;}
.secondry-bg{ background-color: $brand-dark-magenta !important;}
.tertiary-bg{background-color: $white-color !important;}
.grey-bg{background-color: $brand-light-grey !important;}
.black-bg { background-color: $black-color !important; }
.white-bg { background-color: $white-color !important; }
.yellow-bg { background-color: $brand-yellow !important; }
.primary-txt{ color:  $dark-blue-color !important; }
.secondry-txt{color: $brand-moderate-magenta !important;}
.tertiary-txt{color: $white-color !important;}
.grey-txt { color: $brand-grey !important;}
.black-txt {color: $black-color !important;}
.grey-light-txt{color: $brand-light-grey !important;}
.link:hover {
  cursor: pointer;
  .primary-bg {
      background-color: lighten($dark-blue-color, 4%)  !important;
  }
  .secondry-bg {
      background-color: darken($brand-dark-magenta, 40%)  !important;
  }
  .tertiary-bg {
      background-color: darken($white-color, 40%)  !important;
  }
  .grey-bg {
      background-color: darken($brand-light-grey, 40%)  !important;
  }
  .black-bg {
      background-color: lighten($black-color, 30%)  !important;
  }
  .primary-txt{
      color: lighten($dark-blue-color, 15%)  !important;
  }
  .secondry-txt{
      color: darken($brand-moderate-magenta, 40%)  !important;
  }
  .tertiary-txt{
      color: darken($white-color, 40%)  !important;
  }
  .grey-txt{
      color: darken($brand-grey, 40%)  !important;
  }
  .black-txt{
      color: lighten($black-color, 30%)  !important;
  }
}

.trans-color-bg{background-color: $black-color !important; opacity: 0.5 !important;}

//text link color
.text-link-color{
  color: $brand-strong-blue;
}

//FONT
 .font-xs{  	font-size: 50% 	!important; }
 .font-ms{  	font-size: 65% 	!important; }
 .font-s{   	font-size: 80% 	!important; }
 .font-ms{   	font-size: 85% 	!important; }
 .font-ls{  	font-size: 90% 	!important; }
 .font-n{   	font-size: 100% !important; }
 .font-m{   	font-size: 120% !important; }
 .font-l{   	font-size: 150% !important; }
 .font-mll{ 	font-size: 163% !important; }
 .font-xl{  	font-size: 180% !important; }
 .font-xxl{ 	font-size: 200% !important; }
 .font-xxxl{	font-size: 250% !important; }

 .font-8{font-size:8px;}
 .font-12{font-size:12px;}
 .font-14{font-size:14px;}
 .font-24{font-size:24px;}


//TEXT-ALIGN
.txtC {
  text-align: center; }

.txtL {
  text-align: left; }

.txtR {
  text-align: right; }


.txtT {
  vertical-align: top; }

.txtB {
  vertical-align: bottom; }

.txtM {
  vertical-align: middle; }


//OVERFLOW
.overflow-hidden {
  overflow: hidden; }

.flow-auto {
  overflow: auto; }

.overflow-v-scrolling {
  overflow-y: auto;
  overflow-x: hidden; }


//WIDTH, FILL
.width-full {
  width: 100%; }

.height-full {
  height: 100%; height: 100vh;}

.width-auto {
  width: auto; }

.height-auto {
  height: auto; }

.height-zero {
  height: 0px; }

//VARIENT PADDING
.p7{
  padding:7px;
}

//MARGINS, PADDING
.ptn, .pvn, .pan {
  padding-top: 0 !important; }

.ptxs, .pvxs, .paxs {
  padding-top: .25em !important; }

.pts, .pvs, .pas {
  padding-top: .5em !important; }

.ptm, .pvm, .pam {
  padding-top: 1em !important; }

.ptl, .pvl, .pal {
  padding-top: 1.5em !important; }

.prn, .phn, .pan {
  padding-right: 0 !important; }

.prxs, .phxs, .paxs {
  padding-right: .25em !important; }

.prs, .phs, .pas {
  padding-right: .5em !important; }

.prm, .phm, .pam {
  padding-right: 1em !important; }

.prl, .phl, .pal {
  padding-right: 1.5em !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0 !important; }

.pbxs, .pvxs, .paxs {
  padding-bottom: .25em !important; }

.pbs, .pvs, .pas {
  padding-bottom: .5em !important; }

.pbm, .pvm, .pam {
  padding-bottom: 1em !important; }

.pbl, .pvl, .pal {
  padding-bottom: 1.5em !important; }

.pln, .phn, .pan {
  padding-left: 0 !important; }

.plxs, .phxs, .paxs {
  padding-left: .25em !important; }

.pls, .phs, .pas {
  padding-left: .3em !important; }

.plm, .phm, .pam {
  padding-left: 1em !important; }

.pll, .phl, .pal {
  padding-left: 1.5em !important; }

.mtn, .mvn, .man {
  margin-top: 0 !important; }

.mts, .mvs, .mas {
  margin-top: .5em !important; }

.mtm, .mvm, .mam {
  margin-top: 1em !important; }

.mtl, .mvl, .mal {
  margin-top: 1.5em !important; }

.mrn, .mhn, .man {
  margin-right: 0 !important; }

.mrs, .mhs, .mas {
  margin-right: .5em !important; }

.mrm, .mhm, .mam {
  margin-right: 1em !important; }

.mrl, .mhl, .mal {
  margin-right: 1.5em !important; }

.mbn, .mvn, .man {
  margin-bottom: 0 !important; }

.mbs, .mvs, .mas {
  margin-bottom: .5em !important; }

.mbm, .mvm, .mam {
  margin-bottom: 1em !important; }

.mbl, .mvl, .mal {
  margin-bottom: 1.5em !important; }

.mln, .mhn, .man {
  margin-left: 0 !important; }

.mtss {
  margin-top: .3em !important; }

.mtsss {
  margin-top: .1em !important; }

.mls, .mhs, .mas {
  margin-left: .5em !important; }

.mlmm {
  margin-left: 12px !important; }

.mlm, .mhm, .mam {
  margin-left: 1em !important; }

.mll, .mhl, .mal {
  margin-left: 1.5em !important; }

.ml-15 {
  margin-left: -15px !important;
}

.mr-15 {
  margin-right: -15px !important;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 0px !important; }

.no-margin {
  margin: 0px !important; }

.no-border {
  border: 0px !important; }


//GUTTERS
.gr {
  padding-right: 15px; }

.gl {
  padding-left: 15px; }

.grx {
  padding-right: 45px; }

.glx {
  padding-left: 25px; }


.ptxl {
  padding-top: 2em !important; }

.plxl {
  padding-left: 2em !important; }

.pbxl {
  padding-bottom: 2em !important; }

.prxl {
  padding-right: 2em !important; }


.mbsxl3 {
  margin-bottom: 3.5em !important; }


//POSITIONING
.pin-tl {
  top: 0;
  left: 0;
  position: absolute !important; }

.pin-tr {
  top: 0;
  right: 0;
  position: absolute !important; }

.pin-bl {
  bottom: 0;
  left: 0;
  position: absolute !important; }

.pin-br {
  bottom: 0;
  right: 0;
  position: absolute !important; }

.pin-t {
  top: 0;
  position: absolute !important; }

.pin-b {
  bottom: 0;
  position: absolute !important; }

.pin-l {
  left: 0;
  position: absolute !important; }

.pin-r {
  right: 0;
  position: absolute !important; }

.pos-rb {
  right: 0;
  bottom: 0; }

.pos-rb {
  right: 0;
  bottom: 0; }

.pa, .abs {
  position: absolute; }

.ps, .static{
  position: static !important;
}

.pr, .rel {
  position: relative !important; }

.fixed, .center-page, .page-layer {
  position: fixed !important; }

.centerH, .center-all, .center-page, .page-layer {
  margin-left: auto;
  margin-right: auto;
  float: none; }

.centerV, .center-all, .center-page, .page-layer {
  margin-top: auto;
  margin-bottom: auto; }

.center-all, .center-page, .page-layer {
  left: 0;
  right: 0; }

.pointer{
  cursor:pointer;
}




//FLOAT
.float-left {
  float: left; }

.float-right {
  float: right; }


//FONT, WEIGHT
.bolder {
  font-weight: bold !important; }

.light {
  font-weight: 300 !important; }

.regular {
  font-weight: 400 !important; }

.normal {
  font-weight: normal !important; }

.uppercase {
  text-transform: uppercase !important; }

.capitalize {
  text-transform: capitalize !important; }

.lowercase {
  text-transform: lowercase !important; }

.text-transform-no {
  text-transform: none !important; }

.wrap-normal {
  white-space: normal !important; }

.underline {
  text-decoration: underline !important; }

.text-decoration-no {
  text-decoration: none !important; }

.italic {
    font-style: italic;
}


//OPACITY
.opacity-f{
  opacity: 1 !important;
}

.opacity-hf{
  opacity: 1.5 !important;
}

.opacity-n{
  opacity: 0 !important;
}


//CURSORS
.cursor:hover {
  cursor: pointer;
}

.cursor-not-allowed{
  cursor: not-allowed;
}

.cursor-move {
  cursor: move;
}


//DISPLAY
.db{ 	display: block; }
.dib, .inline-block{ display: inline-block; }
.dt{ 	display: table; }
.dtr{ display: table-row; }
.dtc{ display: table-cell; }

.clearfix, .clear-fix { clear:both; }


//BORDER
.brd-r, .brd-a{border-right: 1px solid $brand-border-grey;};
.brd-l, .brd-a{border-left: 1px solid $brand-border-grey;};
.brd-t, .brd-a{border-top: 1px solid $brand-border-grey;};
.brd-b, .brd-a{border-bottom: 1px solid $brand-border-grey;};

.nbr {
  border-radius: 0px !important;
}

.no-selection-highlight ::selection{
    background: none !important; /* WebKit/Blink Browsers */
  }
.no-selection-highlight ::-moz-selection{
    background: none !important; /* Gecko Browsers */
  }

//TEST
.test {
	border: 1px solid #f00;
}
