
/* variables.scss */

/*standard color from brand*/
$brand-grayish-magenta : #cda6c5;
$brand-dark-magenta : #b06aa2;
$brand-moderate-magenta : #953882;
$brand-dark-pink : #895771;
$brand-white-grey: #f5f5f5;
$brand-border-grey : #f2f2f2;
$brand-soft-grey : #eff0f0;
$brand-light-grey : #ebebeb;
$brand-grayish-cyan : #d0d1d1;
$brand-grey : #adadad;
$brand-dark-grey: #5c5c5c;
$brand-dark-cyan : #66a19f;
$brand-yellow: #fef1cc;
$brand-soft-yellow : #fde499;
$brand-bg-yellow : #fdea8f;
$brand-warm-yellow : #fbe398;
$brand-secondary-yellow: #feeb90;
$brand-moderate-yellow: #b9d035;
$brand-dark-yellow: #858f63;
$brand-grayish-orange : #fdf4da;
$brand-vivid-orange : #f68a20;
$brand-secondary-orange : #ee8a21;
$brand-soft-blue:#b9e4f5;
$brand-strong-blue : #0066b3;
$brand-desaturated-dark-blue : #7086a4;
$brand-green:#a1c845;
$brand-moderate-green : #89ba3f;
$brand-lime-green : #87b879;
$brand-soft-red : #e94e47;


/*color used in ECM*/
$white-color:#fff;
$black-color:#000;
$dark-blue-color:#002561;
$lime-green-color:#009046;
$soft-cyan-color:#9cdaec;
$vivid-cyan-color:#02cee4;
$baby-blue: #00A9D4;
$yellow-time-date:#fdcb9a;
$pure-pink-color:#db0050;



$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;
$wide-desktop-width: 1200px;

@mixin phone {
  @media (max-width: #{$phone-width -1px}) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$wide-desktop-width - 1px}) {
    @content;
  }
}

@mixin wideDesktop {
  @media (min-width: #{$wide-desktop-width}) {
    @content;
  }
}
